#gameboard {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto auto auto;
}

.cell{
    border: 1px solid black;
    padding: 20px;
    background-color: bisque;
}